option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:application
    StaticFiles: /static/=static/
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DATABASE_TYPE: "postgresql"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced

